body{
    margin:0%;
    padding: 0%;
    
}
.cabecalho{
    width: 1950x;
    height: 82px;
    background-color: #000000;
    text-align: center;
}
.stranger1{
    width: 150px;
    height: 80px;
    
}